# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.egg-info
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*-report.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
_trial_temp/
**/_trial_temp.lock

# Sphinx documentation
docs/_build/
docs/

# Environments
.venv
uv.lock
.env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/

# Cython debug symbols
cython_debug/

# Code Editors
.idea
.fleet

# Downloaded files
downloads
raw
zarr
/testing
**.idx

# MacOS
.DS_Store
**/*.swp
