# --- PROJECT CONFIGURATION --- #

[build-system]
requires = ["setuptools>=67", "wheel", "setuptools_scm>=3.4", "setuptools-git-versioning>=1.13.3"]
build-backend = "setuptools.build_meta"

# Metadata (see https://peps.python.org/pep-0621/)
[project]
name = "nwp-consumer"
dynamic = ["version"] # Set automtically using git: https://setuptools-git-versioning.readthedocs.io/en/stable/
description = "Tool for aggregating NWP .grib files into .zarrs"
readme = {file = "README.md", content-type = "text/markdown"}
requires-python = ">=3.10.0"
license = {text = "MIT License"}
authors = [
    { name = "Sol Cotton", email = "sol@openclimatefix.org"}
]
classifiers = ["Programming Language :: Python :: 3"]
dependencies = [
    "cfgrib == 0.9.10.3",
    "docopt == 0.6.2",
    "eccodes == 1.5.1",
    "fsspec[s3] == 2023.6.0",
    "marshmallow == 3.19.0",
    "marshmallow-dataclass == 8.5.12",
    "numpy == 1.24.2",
    "ocf-blosc2 == 0.0.3",
    "pathlib == 1.0.1",
    "psutil == 5.9.5",
    "requests == 2.31.0",
    "structlog == 22.1.0",
    "typeid-python == 0.2.1",
    "urllib3 == 1.26.15",
    "xarray == 2023.2.0",
    "zarr == 2.14.2"
]

[project.optional-dependencies]
dev = [
    "ruff == 0.0.259",
    "unittest-xml-reporting == 3.2.0",
    "moto[s3,server] == 4.0.5",
    "flask == 2.0.2",
    "flask-cors == 4.0.0",
]

[project.scripts]
nwp-consumer = "nwp_consumer.cmd.main:main" # Set the entrypoint for the CLI

[project.urls]
repository = "https://github.com/openclimatefix/nwp-consumer"

[tool.setuptools.packages.find]
where = ["src"]
include = ["nwp_consumer"]
exclude = ["*.tests", "*.tests.*", "tests.*", "tests"]

[tool.setuptools-git-versioning]
enabled = true

# --- LINTING AND TYPING CONFIGURATION --- #

# MyPy configuration
[tool.mypy]
python_version = "3.10"
plugins = [
    'numpy.typing.mypy_plugin'
]

# ruff configuration
[tool.ruff]
select = [
    "E", # pycodestyle
    "W", # newline at end of files
    "F", # pyflakes
    "B", # flake8-bugbear
    "I", # isosort
    "D", # pydocstyle
    "S", # flake8-bandit
    "T20", # flake8-print
]
line-length = 100
ignore = ["D203", "D213"]
exclude = ["__init__.py"]

[tool.ruff.per-file-ignores]
"test*" = ["S101", "D102", "D103", "PT004", "PT012"]
